<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://balance.io/beta</string>
		<key>displayImageURL</key>
		<string>https://cl.ly/7ab3107e42ba/Icon.png</string>
		<key>fullSizeImageURL</key>
		<string>https://cl.ly/f3724c952246/Icon.png</string>
	</dict>
	<key>method</key>
	<string>development</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>Q4G66XSS36</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
